<main>
  <h1 class="title">{{ !hasQuery ? "Browse Gallery" : "Search: " }}{{ hasQuery ? query : "" }}</h1>
  <h3 class="subtitle">Use the &#8592; or &#8594; keys to navigate with ease</h3>
  <mat-paginator
    #paginator
    [length]="submissions"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    [pageIndex]="pageIndex"
    (page)="onPageChange($event)"
  ></mat-paginator>
  <div class="gallery-container" *ngIf="!hasQuery">
    <figure *ngFor="let submission of pageSlice">
      <div class="image-title-container" (click)="postNavigate(submission.post.id)">
        <img [src]="submission.post.image" />
        <p class="image-title">{{ submission.post.title }}</p>
      </div>
      <p>By <a><i>{{ submission.user.username }}</i></a></p>
    </figure>
  </div>
  <div class="gallery-container" *ngIf="hasQuery">
    <figure *ngFor="let submission of pageSlice">
      <div class="image-title-container" (click)="postNavigate(submission.post.id)">
        <img [src]="submission.post.image" />
        <p class="image-title">{{ submission.post.title }}</p>
      </div>
      <p>By <a><i>{{ submission.user.username }}</i></a></p>
    </figure>
  </div>
</main>
