@import "src/styles.scss";

.about-container {
    display: grid;
    gap: 1.5rem;
    &__title {
        color: $secondary;
    }

    &__sub-title {
        color: $light-primary;
    }

    &__paragraph {
        color: $dark-secondary;
        font-size: 15px;
    }
}