<div class="about-container">
    <section>
        <h1 class="about-container__title">Welcome to SteamyWolf</h1>
        <p class="about-container__paragraph">Here you will find an easy to use furry platform that focuses on simplicity and the pure enjoyment of art.</p>
    </section>
    <section>
        <h2 class="about-container__sub-title">Why make this site?</h2>
        <p class="about-container__paragraph">
            After looking around at the current state of furry sites, I noticed that none of them focused on simplicity and artwork. 
            It seems they drift to including as much content as possible. While this isn't inherently wrong, I became frustrated just trying to find
            what I love most; some nice furry art. 
        </p>
    </section>
    <section>
        <h2 class="about-container__sub-title">How can I get the most out of this site?</h2>
        <p class="about-container__paragraph">
            I encourage you to make an account, that is how you will be able to maximize your experience. By doing so, you will be able to
            save your favorite posts, upload new furry art, and browse some spicy content 😉.
        </p>
    </section>
    <section>
        <h2 class="about-container__sub-title">What should I do if I find an error on your site?</h2>
        <p class="about-container__paragraph">
            Please send me an email. You can find my email address below in the footer on almost every page.
            Try to be thorough in describing the error to help me better address the issue.
        </p>
    </section>
    <section>
        <h2 class="about-container__sub-title">What should I do if I am experiencing an issue?</h2>
        <p class="about-container__paragraph">
            If you are having troubles with your account or need some help, feel free to send me an email with you account user name.
            You can find my email at the bottom of each page in the footer.
        </p>
    </section>
    <section>
        <h2 class="about-container__sub-title">What if someone posts something very inappropriate?</h2>
        <p class="about-container__paragraph">
            While this site does allow NSFW content, I will not tolerate explicite material that breaks the
            <a>Terms of Service</a> agreement. You can read that to get a better idea of what is not allowed.
            You can use the report button in a post which will send me an email of the issue and I will address it.
        </p>
    </section>
    <section>
        <h2 class="about-container__sub-title">How can I tip you?</h2>
        <p class="about-container__paragraph">
            I won't ever ask for money, but it definitely goes a long way in helping support the site and keeping me motivated to
            continue to improve it. You can send me however much you like on Venmo 😘.
        </p>
    </section>
</div>
