<form class="form" (ngSubmit)="submitForm()" [formGroup]="forgotPasswordForm">
  <div class="form-fields-container">
    <h1 class="forgot-password-title">Forgot Password Form</h1>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="text" matInput formControlName="email" />
    </mat-form-field>
    <p class="additional-information">
      If the email provided exists within the database, you will get an email
      with a link to reset your password.
    </p>
    <button
      mat-raised-button
      type="submit"
      [disabled]="forgotPasswordForm.invalid"
    >
      Send Reset Request
    </button>
  </div>
</form>
