<main class="home-container">
  <h1 class="title">Recent Submissions</h1>
  <div class="gallery-container">
    <figure *ngFor="let recentSubmission of recentSubmissions">
      <div
        class="image-title-container"
        (click)="postNavigate(recentSubmission.post.submissions.id)"
      >
        <ng-blurhash
          *ngIf="
            recentSubmission.post.submissions.hash &&
            !recentSubmission.post.submissions.imageLoaded
          "
          [hash]="recentSubmission.post.submissions.hash"
          [height]="400"
          [width]="500"
        ></ng-blurhash>
        <img
          loading="lazy"
          (load)="imageFinishedLoading(recentSubmission.post.submissions)"
          [src]="recentSubmission.post.submissions.image"
          [class.hide]="!recentSubmission.post.submissions.imageLoaded"
        />
        <p class="image-title">{{ recentSubmission.post.submissions.title }}</p>
      </div>
      <p>
        By
        <a
          ><i>{{ recentSubmission.user.username }}</i></a
        >
      </p>
    </figure>
  </div>
</main>
