<main class="home-container">
  <h1 class="title">Recent Submissions</h1>
  <div class="gallery-container">
    <figure *ngFor="let recentSubmission of recentSubmissions">
      <div
        class="image-title-container"
        (click)="postNavigate(recentSubmission.post.submissions.id)"
      >
        <img [src]="recentSubmission.post.submissions.image" />
        <p class="image-title">{{ recentSubmission.post.submissions.title }}</p>
      </div>
      <p>
        By
        <a
          ><i>{{ recentSubmission.user.username }}</i></a
        >
      </p>
    </figure>
  </div>
</main>
