<div class="post-container">
  <div class="image-side-bar-container">
    <div class="image-container">
      <img [src]="post?.image" (click)="openFullScreenImageDialog()" />
    </div>

    <div class="side-bar">
      <div class="chips-container">
        <h3>Tags:</h3>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip *ngFor="let tag of post.tags">{{ tag }}</mat-chip>
        </mat-chip-list>
      </div>
      <div class="favorite-container" *ngIf="userLoggedIn">
        <mat-icon class="favorites-icon" (click)="addRemoveFavorite()">{{hasBeenAddedToFavorites ? "star" : "star_outline"}}</mat-icon>
        <p class="secondary-text">{{hasBeenAddedToFavorites ? "Added to Favorites" : "Add to Favorites"}}</p>
      </div>
      <div class="delete-container" *ngIf="userOwnsPost()" (click)="deletePost()">
        <mat-icon class="delete-post-icon">delete</mat-icon>
        <p class="secondary-text delete-post-copy">Delete Post</p>
      </div>
    </div>
  </div>

  <div class="image-information-container">
    <img
      class="user-thumbnail"
      [src]="user?.thumbnail ? user?.thumbnail : '/assets/placeholder.jpg'"
    />
    <div class="info-container">
      <h1>{{ post?.title }}</h1>
      <p>
        By <b>{{ user?.username }}</b
        >, posted {{ post.updatedAt | date }}
      </p>
    </div>
  </div>
  <div class="description">
    <p>{{ post?.description }}</p>
  </div>
  <div class="add-comment-section">
    <div class="add-comment">
      <mat-form-field appearance="outline">
        <mat-label>Add Comment</mat-label>
        <textarea
          matInput
          rows="7"
          placeholder="Add comment here."
          [(ngModel)]="comment"
          type="text"
        ></textarea>
      </mat-form-field>
      <button mat-raised-button type="button" (click)="submitComment()">
        Submit Comment
      </button>
    </div>
  </div>
  <div class="comments-section">
    <h1 class="comments-header-title">Comments</h1>


    <ng-container *ngIf="post.comments?.length; else noComments">
      <div class="comment-information-container" *ngFor="let comment of post.comments; let i = index">
        <p class="comment-createdAt">
          <i> commented on {{ comment.comment.createdAt | date }} </i>
        </p>
        <div class="comment-information-container__icons" *ngIf="userOwnsComment(comment)">
            <mat-icon *ngIf="!comment.comment.editing" (click)="editComment(i)">edit</mat-icon>
            <mat-icon *ngIf="comment.comment.editing" (click)="saveComment(comment, i)">save</mat-icon>
            <mat-icon *ngIf="comment.comment.editing" (click)="cancelCommentEditing(i)">cancel</mat-icon>
            <mat-icon (click)="deleteComment(comment, i)">delete</mat-icon>
        </div>
        <img class="user-thumbnail" [src]="comment.user.thumbnail ? comment.user.thumbnail : '/assets/placeholder.jpg'" />
        <div class="username-comment-container">
          <h2 class="username">{{ comment.user.username }}</h2>
          <p *ngIf="!comment.comment.editing" class="user-comment">{{ comment.comment.text }}</p>
          <textarea *ngIf="comment.comment.editing" class="edit-comment-textarea" matInput rows="3" type="text" [(ngModel)]="comment.comment.text"></textarea>
        </div>
      </div>
    </ng-container>
    <ng-template #noComments>
      <p class="no-comments">There are no comments yet.</p>
    </ng-template>


  </div>
</div>
