@import "src/styles.scss";

.header-container {
  padding: 2vw;
  background-image: url("/assets/wolficon.png");
  background-repeat: no-repeat;
  background-size: 155px;
  background-position: 210px;
  display: flex;
  justify-content: space-between;
}

.title-container {
  cursor: pointer;
}

.main-title {
  color: $secondary;
  font-size: 30px;
  margin: 0;
}

.sub-header {
  color: $secondary;
  margin: 0;
  padding-left: 23px;
  letter-spacing: 4px;
}

.links-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.link {
  font-size: 17px;
}

.icon {
  color: white;
}

a[routerLink] {
  color: $secondary;
  text-decoration: none;
  &:hover {
    color: $dark-secondary;
  }
}

::ng-deep .mat-form-field-prefix {
  top: -2px !important;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

.search-bar {
  color: $secondary;
}

.nsfw-slide-toggle {
  color: $secondary;
  padding: 4px 16px 0px;
}

.hamburger-icon {
  display: none;
}

.hamburger-panel {
  display: none;
}

@media only screen and (max-width: $viewport-medium-up) {
  .links-container {
    display: none;
  }

  .header-container {
    padding: 6vw;
    align-items: center;
    position: relative;
  }

  .hamburger-icon {
    display: block;
    mat-icon {
      font-size: 30px !important;
      color: $secondary;
      cursor: pointer;
    }
  }

  .hamburger-panel {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 300px;
    height: 360px;
    margin: 0 auto;
    background-color: $primary;
    z-index: 1;
    border-radius: 0 0 5px 5px;
  }

  .links-list {
    flex-direction: column;
    padding: 0;
    gap: 10px;
  }
}
