<div class="upload-container">
  <h1 class="upload-title">Create New Post</h1>
  <form class="form" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Post Title</mat-label>
      <input type="text" matInput formControlName="title" />
      <mat-error *ngIf="form.controls['title'].hasError('required')"
        >Title is required</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput rows="5" formControlName="description"></textarea>
    </mat-form-field>
    <div class="drop-image-container">
      <div
        class="drag-and-drop-container"
        [ngClass]="{ 'file-added': selectedFile }"
        appDnd
        (fileDropped)="fileDropped($event)"
      >
        <input
          type="file"
          (change)="fileAdded($event)"
          #fileDropRef
          id="fileDropRef"
        />
        <h3>Drag and drop a file here</h3>
        <h3>or</h3>
        <button mat-raised-button>Browse Files</button>
      </div>
      <img class="selected-file" *ngIf="selectedFile" [src]="selectedFile" />
    </div>

    <div class="nsfw-container">
      <label id="example-radio-group-label"
        >You must indicate if this image is SFW or NSFW</label
      >
      <p>
        Please read our <a>NSFW Terms</a> to better understand which option your
        image falls under
      </p>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        formControlName="nsfw"
        appearance="outline"
      >
        <mat-radio-button value="sfw">SFW</mat-radio-button>
        <mat-radio-button value="nsfw">NSFW</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="tags-container">
      <p>Adding tags will help your post appear in search queries</p>
      <mat-form-field class="tags-list" appearance="outline">
        <mat-label>Tags</mat-label>
        <mat-chip-list #chipList aria-label="tags selection">
          <mat-chip
            *ngFor="let tag of form.controls['tags'].value"
            (removed)="remove(tag)"
          >
            {{ tag }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="New tag..."
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
          />
          <mat-error *ngIf="form.controls['tags'].hasError('maxlength')"
            >Cannot have more than 20 tags</mat-error
          >
        </mat-chip-list>
      </mat-form-field>
    </div>

    <div class="acceptance-criteria">
      <p><b>Accepted Formats:</b> jpg, jpeg, png, gif</p>
      <p><b>Max File Size:</b> 10 MB</p>
      <p>
        You should be able to see your post on the home page shortly after
        uploading
      </p>
    </div>
  </form>
  <button
    class="upload-button"
    (click)="upload()"
    mat-raised-button
    type="button"
    [disabled]="!selectedFile || form.invalid || loading"
  >
    <span *ngIf="loading" class="loading-spinner"
      ><mat-spinner diameter="30"></mat-spinner
    ></span>
    <span *ngIf="!loading">Upload</span>
  </button>
</div>
