@import "src/styles.scss";

.title {
  color: $light-primary;
}

.image-information-container {
  display: flex;
  align-items: center;
  .thumbnail {
    width: 100px;
    height: 100px;
  }
  .info-container {
    padding-left: 15px;
    color: $secondary;
  }
}
