<div class="account-container">
  <div class="title-container">
    <h1 class="title">Account</h1>
    <div class="edit-icon" (click)="navigateEdit()">
      <mat-icon color="white">edit</mat-icon>
    </div>
  </div>
  <div class="image-information-container">
    <img
      [src]="user?.thumbnail ? user?.thumbnail : '/assets/placeholder.jpg'"
      class="thumbnail"
    />
    <div class="info-container">
      <h1>{{ user?.username }}</h1>
      <p>joined {{ user?.createdAt | date }}</p>
    </div>
  </div>
  <div class="posts-gallery">
    <h1 class="posts-title">Posts</h1>
    <div class="seeAll-positioning">
      <div class="gallery-container">
        <figure *ngFor="let post of alteredUserPosts">
          <div class="image-title-container" (click)="postNavigate(post.id)">
            <img loading="lazy" [src]="post.image" />
            <p class="image-title">{{ post.title }}</p>
          </div>
          <p>
            By
            <a
              ><i>{{ user?.username }}</i></a
            >
          </p>
        </figure>
      </div>
      <div class="empty-length" *ngIf="!alteredUserPosts.length">
        <h2>Looks like you haven't posted yet</h2>
        <p>Create something amazing to share</p>
      </div>
      <a
        *ngIf="alteredUserPosts.length"
        class="seeAll"
        (click)="handleSeeAll('posts')"
        >{{ seeAllPostsOpened ? "See Less" : "See All" }}</a
      >
    </div>
  </div>
  <div class="favorites-gallery">
    <h1 class="favorites-title">Favorites</h1>
    <div class="seeAll-positioning">
      <div class="gallery-container" *ngIf="alteredUserFavorites.length">
        <figure *ngFor="let favorite of alteredUserFavorites">
          <div
            class="image-title-container"
            (click)="postNavigate(favorite.favorite?.id)"
          >
            <img loading="lazy" [src]="favorite.favorite?.image" />
            <p class="image-title">{{ favorite.favorite?.title }}</p>
          </div>
          <p>By <a><i>{{ favorite.favoritePostUser?.username }}</i></a></p>
        </figure>
      </div>
      <div class="empty-length" *ngIf="!alteredUserFavorites.length">
        <h2>Looks like you haven't starred any posts yet</h2>
        <p>Click the star icon on a post to favorite it</p>
      </div>
      <a
        *ngIf="alteredUserFavorites.length"
        class="seeAll"
        (click)="handleSeeAll('favorites')"
        >{{ seeAllFavoritesOpened ? "See Less" : "See All" }}</a
      >
    </div>
  </div>
</div>
